:root {
    --color-dark: #242424;
    --color-primary:#108ee9;
}

$themeBG: #0E1621; // Самый зад
$themeElement: #17212B; //Всякий футер, менюшки, шапка
$themeHover: #202B36; // При наведении
$themeSelected: #2B5278; // Основной цвет
$themeArea: #242F3D; // Хз

$textPrimary: #F0F0F0;
$textSecondary: #65717C;